h1, h2, h3 {
	text-shadow: 2px 2px 5px grey
}

img.resize {
	max-width: 40%;
	max-height: 40%;

}

.image {
	margin-left: 600px;
}

h2{
	margin-top: 50px;
}

.aboutMe {
	padding-right: 200px;
	padding-left: 200px;
}

h3, .quote {
	font-style: italic;
}

.quote{
	font-size: 20px;
}