h1, h2, h3 {
	text-shadow: 2px 2px 5px grey;
	text-align:center;
}

.container {
	text-align: center;
	width: 50%;
	min-width: 600px;
}

img {
	display: block;
	margin: auto;
	width:50%;
}

h3, .quote {
	font-style: italic;
}